@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,900&display=swap');

:root {
    --accent_color: #102C57;
    --inner_content_color: #808080FF;
    --background-color: #DAC0A3;
}
html, body, h1, h2, h3, h4, h5, h6,span,a {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}
body {
    background-color: var(--background-color);
}
hr {
    border-top: 5px dotted #e3d1d1;
    width: 10%;
    align-self: center;
}
a {
    text-decoration: none;
    color: var(--inner_content_color);
}
.heading {
    margin: 6px;
    padding: 4px;
    color: var(--accent_color);
    font-weight: 700;
    font-size: 18px;
    filter: brightness(98%);
    letter-spacing: 1px;
}
.sub_heading {
    margin: 6px;
    padding: 4px;
    color: var(--inner_content_color);
    font-weight: 500;
    font-size: 16px;
    filter: brightness(98%);
    letter-spacing: 1px;
}
.inner_content {
    margin: 6px;
    padding: 6px;
    /*color: var(--inner_content_color);*/
    color: rgb(255, 255, 255);
    filter: brightness(95%);
    font-weight: 400;
    font-size: 14px;
    outline:none;
    border-radius: 5px;
    background-color: var(--accent_color);
    letter-spacing: 1px;
}
.inner_content:hover{
    background-color: rgb(255, 255, 255);
    color: var(--accent_color);
    transition: 0.5s ease;
    font-weight: 500;
    cursor: pointer;
}
.inner_grey_content {
    margin: 6px;
    padding: 6px;
    color: var(--inner_content_color);
    filter: brightness(95%);
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
}



#left_div {
    width: 30%;
    background-color: rgb(255, 255, 255);
    filter: brightness(95%);
    margin: 12px;
    box-shadow: 0px 0px 10px var(--accent_color);

}
.isha_image_wrapper {
    position: relative;
}
.name {
    position: absolute;
    bottom: 12px;
    left: 12px;
    color: rgb(255,255,255);
    letter-spacing: 2px;
    font-weight: 900;
    font-size: 30px;
}




/*@media screen and (max-width: 580px){*/
/*    .row_column_alignment{*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*    }*/
/*    #left_div{*/
/*        width: 100%;*/
/*    }*/
/*}*/
